

 <div class="modal_trigger_worktemp col-md-3 " data-id="<%= w.id %>" data-name="<%= w.name%>" >
 <div id="ribbon-container">
  <%= link_to w.name , workouts_template_path(w.id), :id => "ribbon" %> 
  </div>

  <div class="row placeholder"></div>
  <div style="background-image: url(<%= w.imgurl%>)" class="col-lg-12 worktempcover">
  	
  </div>

</div>
