<div class="pseudo-bg">
	<div class="jumbotron" id="landing_page">
	  <h1>Welcome to your Chiron!</h1>
	  <p>Chiron is a new way of approaching fitness apps. We aim to use your phone to complete your gym experience by offering you an easy way to track, plan and compare your workouts. Using NFC technology and our (soon to exist) companion app you can now track your progress on any piece of equipment in the gym!</p>
	  <p><%= link_to "Log In!", new_user_session_path, class: "btn btn-danger btn-lrg" %> <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-danger btn-lrg" %></p>
	</div>
</div>
