<div class="welcome-box">Welcome to Trainr(Working Title)</div>
<button type="button" class="btn btn-lrg"> <%= link_to "Register!", new_user_registration_path %>
</button>
<button type="button" class="btn btn-lrg"> <%= link_to "Log In!", new_user_session_path %>
</button>
<button type="button" class="btn btn-lrg"> <%= link_to "Workouts!", user_index_path %>
</button>


