// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-box{
	width: 100%;
	background-color: #f56565;
	font-family: helvetica;
}

.pseudo-bg{
	background-image: url("greybells.jpg");
	background-size: 1440px 800px;
 	background-repeat:no-repeat;
 	display: compact;
 	width: 100%;
}
