* {
  padding: 0;
  /* Standard Reset, and we're adding box-sizing:border-box because it's awesome. */
  
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
.workout__item__list {
	border-bottom: 1px solid grey;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.template-new {
	background-color: #E3E3E3;
	border-radius: 5px;
}

.instr-input{
	min-width: 400px;
	min-height: 150px;
	border-radius: 5px;
}

.input-area{

}

.imgholder{

}
.indexpage{

	height: 100%;
	background-color: #E3E3E3;
}
.modal_trigger {
	background-color: #DBDBDB;
	border-radius: 5px;
	box-shadow: 1px white;
	padding: .75em;
	height: 250px;
	width: 100%px;
	max-width: 80%;
	position:relative;
	border: 5px solid white;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
}
#ribbon-container{
	position: absolute;
	top:	15px;
	right: -20px;
	overflow: visible;
	font-size: 18px;
	line-height: 18px;
}	
#ribbon-container:before {
	content: "";
	height: 0;
	width:0;
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	border-top: 29px solid rgba(0,0,0,.3);
	border-bottom: 29px solid rgba(0,0,0,.3);
	border-right: 29px solid rgba(0,0,0,.3);
	border-left: 29px solid transparent;
}
#ribbon-container:after {
	content: "";
	height: 3;
	width:0;
	background: rgba(0,0,0,.3);
	display: block;
	position: absolute;
	bottom: -3px;
	left: 58px;
	right: 3px;
}
#ribbon-container a {
	display: block;
	padding: 20px;
	position: relative;
	background: #8a979f;
	overflow: visible;
	height: 58px;
	margin-left: 29px;
	color: #fff;
	text-decoration: none;
}
#ribbon-container a:after {
	content: "";
	height: 0;
	width:0;
	display: block;
	position: absolute;
	bottom: -15px;
	right: 0px;
	border-top: 15px solid #4c4e4f;
	border-right: 15px solid transparent;
}
#ribbon-container a:before {
	content: "";
	height: 0;
	width:0;
	display: block;
	position: absolute;
	top: 0;
	left: -29px;
	border-top: 29px solid #8a979f;
	border-bottom: 29px solid #8a979f;
	border-right: 29px solid transparent;
	border-left: 29px solid transparent;
}
#ribbon-container a:hover {
	background: #829098;
}

#ribbon-container a:hover:before {
	border-top: 29px solid #829098;
	border-bottom: 29px solid #829098;
}