.background-container {

}

.workouts-month {
	background-color: #f5f5f5;
	
}

.workouts-month__item {
	box-shadow: 2px solid rgba(0,59,149,.4);
	padding-top: .5em;

}

.user-info {
	background-color: #f5f5f5;
	
}

.tracker-box{
	background-color: #f5f5f5;
}

.tab-holder{
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	background-color: #F2F2F2;
	border-radius: 10px;
}

