<div class="media col-sm-12 col-md-6 workout__item" >
	<div class="panel panel-default">
		<%= @template.name %>
	</div>
	<div class="panel panel-default">
		<%= @template.instructions %>
	</div>
	<div class="panel panel-default">
		<%= @template.musclecat %>
	</div>
</div>